{% extends "base.html" %}
{% load staticfiles %}

{% block wrapper %}
	<div class="wrapper">


		<div id="top_krok">

			<div id="logowanie">
				<button class="active">Zalogowany</button>
				<p class="login">{{ user_full_name }}</p>
				<button onclick="location_change({% url 'django.contrib.auth.views.logout' %})">Wyloguj się</button>
			</div>

			<div class="logo">
				<a href="/"><img src="{% static "img/logo.png" %}"/></a>
			</div>

		</div>





	<div class="content_krok">
        <h3>Krok <span class="numeracja">3</span></h3>
		<p>Wybierz lokalizację oraz typy odejść</p>


	<div class="dane">

					<div class="zdefiniowane">
					<p>wybrane oznaczenie</p>
					<div class="check"><p>{{ prefabricate.pipe_mark }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrana średnica</p>
					<div class="check"><p>{{ prefabricate.pipe_diameter }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrany rodzaj</p>
					<div class="check"><p>{{ prefabricate.pipe_type }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrany kolor</p>
					<div class="check">
						<p>
							{% if prefabricate.pipe_color %}
								{{ prefabricate.pipe_color }}
							{% else %}
								---------
							{% endif %}
						</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrana ilość</p>
					<div class="check"><p>{{ prefabricate.count }}</p></div>
					</div>


				<div class="clear"></div>
				<br /> <br />

	</div>

			<div class="dane">


				<p class="wskazowka">Wskaż kursorem miejsce i wybierz z listy typ odejścia</p><br />
				<div class="model">
					<div class="rura rura_lewa" style="background-image: url({{ prefabricate.pipe_left_end.pipe_image.url }});"></div>
					<div class="rura rura_prawa" style="background-image: url({{ prefabricate.pipe_right_end.pipe_image.url }});"></div>
					<div class="clear">	</div>
						<div class="odejscia">
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
							<div class="lokalizacje"></div>
						</div>
				</div>

				<div class="clear"></div>
				<button onclick="location.href='{% url "krok_2" %}';" class="cofnij">COFNIJ</button>
				<button onclick="location.href='{% url "krok_4" %}';" class="dalej">DALEJ</button>

			</div>
		</div>

		<div class="push"></div>
	</div>

{% endblock %}