{% extends "base.html" %}
{% load staticfiles %}

{% block wrapper %}

    <script src="{% static 'comment_add.js' %}" xmlns="http://www.w3.org/1999/html"></script>
	<div class="wrapper">


		<div id="top_krok">

			<div id="logowanie">
				<button class="active">Zalogowany</button>
				<p class="login">{{ user_full_name }}</p>
				<button onclick="location_change({% url 'django.contrib.auth.views.logout' %})">Wyloguj się</button>
			</div>

			<div class="logo">
				<a href="/"><img src="{% static "img/logo.png" %}"/></a>
			</div>

		</div>

	    <div class="content_krok">
            <h3>Krok <span class="numeracja">5</span></h3>
            <p>Podsumowanie projektu</p>


            <div class="dane">

                <table>
                    <tr>
                        <td>Lp.</td>
                        <td>Oznaczenie prefabrykatu</td>
                        <td>Ilość</td>
                        <td>Edytuj</td>
                        <td>Powiel</td>
                        <td>PDF</td>
                        <td>Usuń</td>
                    </tr>
                    {% for prefabricate in prefabricates %}
                        <tr>
                            <td>{{ prefabricate.index|add:"1" }}</td>
                            <td>{{ prefabricate.prefabricate_mark }}</td>
                            <td>{{ prefabricate.count }}</td>
                            <td><button class="cofnij" onclick="location.href='{% url "edytuj_prefabrykat" prefabricate.index %}';">EDYTUJ</button></td>
                            <td><button class="cofnij" onclick="location.href='{% url "powiel_prefabrykat" prefabricate.index %}';">POWIEL</button></td>
                            <td><button class="cofnij" onclick="location.href='{% url "pdf_prefabrykat" prefabricate.index %}';">PDF</button></td>
                            {% if prefabricates|length == 1 %}
                                <td><button disabled class="cofnij" onclick="location.href='{% url "usun_prefabrykat" prefabricate.index %}';">USUŃ</button></td>
                            {% else %}
                                <td><button class="cofnij" onclick="location.href='{% url "usun_prefabrykat" prefabricate.index %}';">USUŃ</button></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>

            </div>

            <div class="clear"></div>
            <textarea id="project_comment" name='Komentarz do projektu' placeholder='Komentarz do projektu' rows="10" cols="50" style="resize: none" onchange="commeentAdd({{ prefabricates.0.project_id }})">{{ prefabricates.0.project.comment }}</textarea></br>
            <button class="cofnij" onclick="location.href='{% url "zakoncz_projekt" %}';">ZAKOŃCZ</button>

			</div>
		</div>

		<div class="push"></div>
	</div>


{% endblock %}