{% extends "base.html" %}
{% load staticfiles %}

{% block wrapper %}

	<script src="{% static 'outflow_select.js' %}" xmlns="http://www.w3.org/1999/html"></script>
	<div class="wrapper">


		<div id="top_krok">

			<div id="logowanie">
				<button class="active">Zalogowany</button>
				<p class="login">{{ user_full_name }}</p>
				<button onclick="location_change({% url 'django.contrib.auth.views.logout' %})">Wyloguj się</button>
			</div>

			<div class="logo">
				<a href="/"><img src="{% static "img/logo.png" %}"/></a>
			</div>

		</div>





	<div class="content_krok">
        <h3>Krok <span class="numeracja">6</span></h3>
		<p>Podsumowanie prefabrykatu</p>


        <div class="dane">

                        <div class="zdefiniowane">
					<p>wybrane oznaczenie</p>
					<div class="check"><p>{{ prefabricate.prefabricate_mark }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrana średnica</p>
					<div class="check"><p>{{ prefabricate.pipe_diameter }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrany rodzaj</p>
					<div class="check"><p>{{ prefabricate.pipe_type }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrany kolor</p>
					<div class="check">
						<p>
							{% if prefabricate.pipe_color %}
								{{ prefabricate.pipe_color }}
							{% else %}
								---------
							{% endif %}
						</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrana ilość</p>
					<div class="check"><p>{{ prefabricate.count }}</p></div>
					</div>


                    <div class="clear"></div>
                    <br /> <br />

        </div>

			<div class="dane">

                <div class="model">
					{% if prefabricate.pipe_diameter.small_size %}
						<div class="rura rura_lewa" style="background-image: url({{ prefabricate.pipe_left_end.pipe_image_small.url }});"></div>
						<div class="rura rura_prawa" style="background-image: url({{ prefabricate.pipe_right_end.pipe_image_small.url }});"></div>
					{% else %}
						<div class="rura rura_lewa" style="background-image: url({{ prefabricate.pipe_left_end.pipe_image.url }});"></div>
						<div class="rura rura_prawa" style="background-image: url({{ prefabricate.pipe_right_end.pipe_image.url }});"></div>
					{% endif %}
                    <div class="clear">	</div>
					<div class="odejscia">
						<div class="lokalizacje_poczatek"><span></span></div>
						<div class="lokalizacje" id="0"><span></span></div>
						<div class="lokalizacje" id="1"><span></span></div>
						<div class="lokalizacje" id="2"><span></span></div>
						<div class="lokalizacje" id="3"><span></span></div>
						<div class="lokalizacje" id="4"><span></span></div>
						<div class="lokalizacje" id="5"><span></span></div>
						<div class="lokalizacje" id="6"><span></span></div>
						<div class="lokalizacje" id="7"><span></span></div>
						<div class="lokalizacje" id="8"><span></span></div>
						<div class="lokalizacje" id="9"><span></span></div>
						<div class="lokalizacje" id="10"><span></span></div>
						<div class="lokalizacje" id="11"><span></span></div>
						<div class="lokalizacje" id="12"><span></span></div>
						<div class="lokalizacje" id="13"><span></span></div>
						<div class="lokalizacje" id="14"><span></span></div>
						<div class="lokalizacje" id="15"><span></span></div>
						<div class="lokalizacje" id="16"><span></span></div>
						<div class="lokalizacje" id="17"><span></span></div>
						<div class="lokalizacje" id="18"><span></span></div>
						<div class="lokalizacje" id="19"><span></span></div>
						<div class="lokalizacje" id="20"><span></span></div>
						<div class="lokalizacje_koniec"><span></span></div>
					</div>
				</div>

				{% for prefabricate_outflow in prefabricate_outflows %}
                    <script>showOutflows({{ prefabricate_outflow.index }}, '{{ prefabricate_outflow.outflow.css_class}}', {{ prefabricate_outflow.distance }});</script>
					{% if forloop.first %}
                    	<script>
                            showOutflowsDistanceImage({{ prefabricate_outflow.index }}, '{{ prefabricate_outflow.outflow.css_class}}');
							showOutflowsDistanceSpanLength({{ prefabricate_outflow.index_between_previous }}, {{ prefabricate_outflow.distance }});
                        </script>
					{% elif forloop.last %}
						<script>
							showOutflowsDistanceImage({{ prefabricate_outflow.index }}, '{{ prefabricate_outflow.outflow.css_class}}', {{ prefabricate_outflow.distance_to_end }});
							showOutflowsDistanceSpanLength({{ prefabricate_outflow.index_between_previous }}, {{ prefabricate_outflow.distance }});
							showOutflowsDistanceSpanLength({{ prefabricate_outflow.index_between_end }}, {{ prefabricate_outflow.distance_to_end }});
						</script>
					{% else %}
						<script>
                            showOutflowsDistanceImage({{ prefabricate_outflow.index }}, '{{ prefabricate_outflow.outflow.css_class}}');
							showOutflowsDistanceSpanLength({{ prefabricate_outflow.index_between_previous }}, {{ prefabricate_outflow.distance }});
						</script>
					{% endif %}
                {% endfor %}
                <!-- {% for prefabricate_outflow in prefabricate_outflows %}
                    <script>showOutflows({{ prefabricate_outflow.index }}, '{{ prefabricate_outflow.outflow.css_class}}', {{ prefabricate_outflow.distance }});</script>
                    <script>showOutflowsDistancesSpan({{ prefabricate_outflow.index }}, '{{ prefabricate_outflow.outflow.css_class}}', {{ prefabricate_outflow.distance }});</script>
                {% endfor %} -->
				<div class="clear">	</div>

				<div class="clear"></div>
				<div style="width: 100%; height: 50px; clear: both;"></div>
				<button onclick="location.href='{% url "krok_5" %}';" class="cofnij">COFNIJ</button>
				<button class="dalej" onclick="location.href='{% url "zapisz_projekt" %}';">ZAPISZ</button>
				<button class="dalej" onclick="location.href='{% url "drukuj_pdf" %}';">DRUKUJ DO PDF</button>
				<button class="dalej" onclick="location.href='{% url "nastepny_prefabrykat" %}';">PRZEJDŹ DO DEFINIOWANIA KOLEJNEGO PREFABRYKATU</button>

			</div>
		</div>

		<div class="push"></div>
	</div>


{% endblock %}