{% extends "base.html" %}
{% load staticfiles %}

{% block wrapper %}

    <script src="{% static 'color_enable_get.js' %}"></script>

	<div class="wrapper">


		<div id="top_krok">

			<div id="logowanie">
				<button class="active">Zalogowany</button>
				<p class="login">{{ user_full_name }}</p>
				<button onclick="location_change({% url 'django.contrib.auth.views.logout' %})">Wyloguj się</button>
			</div>

			<div class="logo">
				<a href="/"><img src="{% static "img/logo.png" %}"/></a>
			</div>

		</div>

	<div class="content_krok">

		<h3>Krok <span class="numeracja">2</span></h3>
		<p>Wprowadź dane podstawowe prefabrykatu</p>

			<div class="dane poziome">

				<form method="post" action="">
                    {% csrf_token %}

					<div class="lista_wyboru">
						{% if form.mark.errors %}
                            <ol>
                            {% for error in form.mark.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            </ol>
                        {% endif %}
                        {{ form.mark }}
                        <p>{{ form.mark.label }}</p>
					</div>

                    <div class="lista_wyboru">
                        {% if form.diameter.errors %}
                            <ol>
                            {% for error in form.diameter.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            </ol>
                        {% endif %}
                        {{ form.diameter }}
                        <p>{{ form.diameter.label }}</p>
                    </div>

                    <div class="lista_wyboru">
                        {% if form.type.errors %}
                            <ol>
                            {% for error in form.type.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            </ol>
                        {% endif %}
                        {{ form.type }}
                        <p>{{ form.type.label }}</p>
                    </div>

                    <div class="lista_wyboru">
                        {% if form.color.errors %}
                            <ol>
                            {% for error in form.color.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            </ol>
                        {% endif %}
                        {{ form.color }}
                        <p>{{ form.color.label }}</p>
                    </div>

                    <div class="lista_wyboru">
                        {% if form.quantity.errors %}
                            <ol>
                            {% for error in form.quantity.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            </ol>
                        {% endif %}
                        {{ form.quantity }}
                        <p>{{ form.quantity.label }}</p>
                    </div>
				<div class="clear"></div>
				<br /><br />



				<h4>Wybierz zakończenie rury</h4>


				<div class="rura rura_lewa"></div><div class="rura rura_prawa"></div>
				<div class="clear">	</div>


				<!-- <div class="zakonczenie_lewe">
					<p class="wybierz">Wybierz z listy</p>
                    {% if form.left_end.errors %}
                        <ol>
                            {% for error in form.left_end.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    <ul>
                        {% for left_end in form.left_end.field.queryset %}
                            <li><img src="{{ left_end.image.url }}"/>{{ left_end }}
                            <input id="id_left_end_0" name="left_end" value="" type="radio"></li>
                        {% endfor %}
                    </ul>
				</div>

				<div class="zakonczenie_prawe">
					<p class="wybierz">Wybierz z listy</p>
                    {% if form.right_end.errors %}
                        <ol>
                            {% for error in form.right_end.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    <ul>
                        {% for right_end in form.right_end.field.queryset %}
                            <li><img src="{{ right_end.image.url }}"/></li>
                        {% endfor %}
                    </ul>
				</div> -->

                <div class="zakonczenie_lewe">
					<p class="wybierz">Wybierz z listy</p>
                    {% if form.left_end.errors %}
                        <ol>
                            {% for error in form.left_end.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    {{ form.left_end }}
				</div>

                <div class="zakonczenie_prawe">
					<p class="wybierz">Wybierz z listy</p>
                    {% if form.right_end.errors %}
                        <ol>
                            {% for error in form.right_end.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    {{ form.right_end }}
				</div>

				<div class="clear"></div>
				<!-- <button onclick="location.href='{% url "krok_1" %}';" class="cofnij">COFNIJ</button> -->
				<button onclick="location.href='{% url "krok_3" %}';" class="dalej">DALEJ</button>


			</form>


			</div>


	</div>

		<div class="push"></div>
	</div>
{% endblock %}