{% extends "base.html" %}
{% load staticfiles %}

{% block wrapper %}
	<div class="wrapper">


		<div id="top_krok">

			<div id="logowanie">
				<button class="active">Zalogowany</button>
					<p class="login">Jan Kowalski</p>
				<button>Wyloguj się</button>
			</div>

			<div class="logo">
				<a href="/"><img src="{% static "img/logo.png" %}"/></a>
			</div>

		</div>





	<div class="content_krok">


		<h3>Krok <span class="numeracja">2</span></h3>
		<p>Wprowadź dane podstawowe prefabrykatu</p>

			<div class="dane poziome">

				<div class="lista_wyboru">
					<select name="oznaczenie">
						<option>S1</option>
						<option>S2</option>
						<option>S3</option>
						<option>S4</option>
					</select>
					<p>oznaczenie prefabrykatu</p>
				</div>

				<div class="lista_wyboru">
					<select name="srednica">
						<option>DN 25 (33,7x3,2)</option>
						<option>DN 25 (33,7x3,6)</option>
						<option>DN 32 (42,4x2,6)</option>
						<option>DN 32 (42,4x2,9)</option>
						<option>DN 32 (42,4x3,2)</option>
						<option>DN 32 (42,4x3,6)</option>
						<option>DN 40 (48,3x2,6)</option>
						<option>DN 40 (48,3x2,9)</option>
						<option>DN 40 (48,3x3,2)</option>
						<option>DN 40 (48,3x4,0)</option>
						<option>DN 50 (60,3x2,6)</option>
						<option>DN 50 (60,3x2,9)</option>
						<option>DN 50 (60,3x3,6)</option>
						<option>DN 50 (60,3x4,0)</option>
						<option>DN 65 (76,1x2,6)</option>
						<option>DN 65 (76,1x3,2)</option>
						<option>DN 80 (88,9x2,9)</option>
						<option>DN 80 (88,9x3,2)</option>
						<option>DN 100 (114,3x3,2)</option>
						<option>DN 150 (168,3x3,6)</option>
						<option>DN 150 (168,3x4,0)</option>
						<option>DN 200 (219,1x5,0)</option>
						<option>DN 200 (219,1x6,3)</option>
						<option>DN 250 (273,0x5,0)</option>
					</select>
					<p>średnica</p>
				</div>

				<div class="lista_wyboru">
					<select name="rodzaj">
						<option>cz z/s</option>
						<option>cz b/s</option>
						<option>oc z/s</option>
						<option>oc z/s</option>
					</select>
					<p>rodzaj rury</p>
				</div>

				<div class="lista_wyboru">
					<select name="kolor">
						<option>RAL 3000</option>
						<option>-</option>

					</select>
					<p>kolor</p>
				</div>

				<div class="lista_wyboru">
					<select name="ilosc">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
					</select>
					<p>ilość</p>
				</div>
				<div class="clear"></div>
				<br /><br />



				<h4>Wybierz zakończenie rury</h4>


				<div class="rura rura_lewa"></div><div class="rura rura_prawa"></div>
				<div class="clear">	</div>


				<div class="zakonczenie_lewe">
					<p class="wybierz">wybierz z listy</p>
					<ul>
						<li id="proste"><img src="{% static "img/zakonczenie_3.jpg" %}" /> </li>
						<li id="owal"><img src="{% static "img/zakonczenie_2-l.jpg" %}"/> </li>
						<li id="rowek"><img src="{% static "img/zakonczenie_1-l.jpg" %}" /> </li>
					</ul>
				</div>

				<div class="zakonczenie_prawe">
					<p class="wybierz">wybierz z listy</p>
					<ul>
						<li id="proste"><img src="{% static "img/zakonczenie_3.jpg" %}" /> </li>
						<li id="owal"><img src="{% static "img/zakonczenie_2.jpg" %}" /> </li>
						<li id="rowek"><img src="{% static "img/zakonczenie_1.jpg" %}" /> </li>
					</ul>
				</div>


				<div class="clear"></div>
				<button onclick="location.href='{% url "krok_1" %}';" class="cofnij">COFNIJ</button>
				<button onclick="location.href='{% url "krok_2" %}';" class="dalej">DALEJ</button>





			</div>


	</div>

		<div class="push"></div>
	</div>
{% endblock %}