{% extends "base.html" %}
{% load staticfiles %}

{% block wrapper %}
	<div class="wrapper">


		<div id="top_krok">

			<div id="logowanie">
				<button class="active">Zalogowany</button>
				<p class="login">{{ user_full_name }}</p>
				<button onclick="location_change({% url 'django.contrib.auth.views.logout' %})">Wyloguj się</button>
			</div>

			<div class="logo">
				<a href="/"><img src="{% static "img/logo.png" %}"/></a>
			</div>

		</div>





	<div class="content_krok">
        <h3>Krok <span class="numeracja">4</span></h3>
		<p>Podaj odległości pomiędzy odejściami</p>


        <div class="dane">

                        <div class="zdefiniowane">
					<p>wybrane oznaczenie</p>
					<div class="check"><p>{{ prefabricate.pipe_mark }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrana średnica</p>
					<div class="check"><p>{{ prefabricate.pipe_diameter }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrany rodzaj</p>
					<div class="check"><p>{{ prefabricate.pipe_type }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrany kolor</p>
					<div class="check">
						<p>
							{% if prefabricate.pipe_color %}
								{{ prefabricate.pipe_color }}
							{% else %}
								---------
							{% endif %}
						</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrana ilość</p>
					<div class="check"><p>{{ prefabricate.count }}</p></div>
					</div>


                    <div class="clear"></div>
                    <br /> <br />

        </div>





			<div class="dane">



				<div class="rura rura_lewa" style="background-image: url({{ prefabricate.pipe_left_end.pipe_image.url }});"></div>
				<div class="rura rura_prawa" style="background-image: url({{ prefabricate.pipe_right_end.pipe_image.url }});"></div>
				<div class="clear">	</div>
					<div class="odejscia">
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
						<div class="lokalizacje"></div>
					</div>
				<div class="clear">	</div>

				<div class="clear"></div>
				<button onclick="location.href='{% url "krok_3" %}';" class="cofnij">COFNIJ</button>
				<button class="dalej" onclick="location.href='{% url "zapisz_projekt" %}';">ZAPISZ</button>
				<!-- <button class="dalej" onclick="location.href='{% url "drukuj_pdf" %}';">DRUKUJ DO PDF</button> -->
				<button class="dalej">DRUKUJ DO PDF</button>
				<button class="dalej" onclick="location.href='{% url "nastepny_prefabrykat" %}';">PRZEJDŹ DO DEFINIOWANIA KOLEJNEGO PREFABRYKATU</button>

			</div>
		</div>

		<div class="push"></div>
	</div>


{% endblock %}