{% extends "base.html" %}
{% load staticfiles %}

{% block wrapper %}

    <script src="{% static 'outflow_select.js' %}"></script>

	<div class="wrapper">


		<div id="top_krok">

			<div id="logowanie">
				<button class="active">Zalogowany</button>
				<p class="login">{{ user_full_name }}</p>
				<button onclick="location_change({% url 'django.contrib.auth.views.logout' %})">Wyloguj się</button>
			</div>

			<div class="logo">
				<a href="/"><img src="{% static "img/logo.png" %}"/></a>
			</div>

		</div>





	<div class="content_krok">
        <h3>Krok <span class="numeracja">3</span></h3>
		<p>Wybierz lokalizację oraz typy odejść</p>


	<div class="dane">

					<div class="zdefiniowane">
					<p>wybrane oznaczenie</p>
					<div class="check"><p>{{ prefabricate.pipe_mark }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrana średnica</p>
					<div class="check"><p>{{ prefabricate.pipe_diameter }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrany rodzaj</p>
					<div class="check"><p>{{ prefabricate.pipe_type }}</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrany kolor</p>
					<div class="check">
						<p>
							{% if prefabricate.pipe_color %}
								{{ prefabricate.pipe_color }}
							{% else %}
								---------
							{% endif %}
						</p></div>
					</div>

					<div class="zdefiniowane">
					<p>wybrana ilość</p>
					<div class="check"><p>{{ prefabricate.count }}</p></div>
					</div>


				<div class="clear"></div>
				<br /> <br />

	</div>

			<div class="dane">

				<div style="margin-bottom: 75px;">
					<p class="wskazowka">Wskaż kursorem miejsce i wybierz z listy typ odejścia</p><br />
				</div>
				<div class="model">
					<div class="rura rura_lewa" style="background-image: url({{ prefabricate.pipe_left_end.pipe_image.url }});"></div>
					<div class="rura rura_prawa" style="background-image: url({{ prefabricate.pipe_right_end.pipe_image.url }});"></div>
					<div class="clear">	</div>
						<div class="odejscia" style="top: -75px;">
							<div class="odleglosci">
								<input type="text" id="input_0" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 0)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_1" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 1)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_2" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 2)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_3" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 3)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_4" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 4)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_5" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 5)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_6" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 6)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_7" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 7)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_8" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 8)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_9" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 9)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_10" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 10)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_11" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 11)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_12" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 12)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_13" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 13)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_14" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 14)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_15" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 15)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_16" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 16)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_17" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 17)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_18" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 18)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_19" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 19)"/>
							</div>
							<div class="odleglosci">
								<input type="text" id="input_20" pattern="[0-9]*" onchange="changeDistance({{ prefabricate.id }}, 20)"/>
							</div>
						</div>
						<div class="odejscia">
							<div class="lokalizacje" id="0">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 0, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 0)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="1">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 1, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 1)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="2">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 2, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 2)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="3">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 3, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 3)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="4">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 4, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 4)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="5">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 5, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 5)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="6">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 6, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 6)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="7">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 7, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 7)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="8">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 8, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 8)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="9">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 9, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 9)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="10">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 10, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 10)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="11">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 11, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 11)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="12">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 12, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 12)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="13">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 13, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 13)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="14">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 14, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 14)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="15">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 15, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 15)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="16">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 16, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 16)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="17">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 17, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 17)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="18">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 18, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 18)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="19">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 19, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 19)">Brak</li>
									{% endif %}
								</ul>
							</div>
							<div class="lokalizacje" id="20">
								<ul>
									{% for outflow in outflows %}
										<li outflow="{{ outflow.id }}" onclick="changeOutflow({{ prefabricate.id }}, {{ outflow.id }}, 20, '{{ outflow.css_class }}')">{{ outflow.name }}</li>
									{% endfor %}
									{% if outflows|length > 0 %}
										<li onclick="removeOutflow({{ prefabricate.id }}, 20)">Brak</li>
									{% endif %}
								</ul>
							</div>
						</div>
				</div>

                {% for prefabricate_outflow in prefabricate_outflows %}
                    <script>showOutflows({{ prefabricate_outflow.index }}, '{{ prefabricate_outflow.outflow.css_class}}', {{ prefabricate_outflow.distance }});</script>
                {% endfor %}

				<div class="clear clear_odejscia"></div>
				<button onclick="location.href='{% url "krok_2" %}';" class="cofnij">COFNIJ</button>
				<button onclick="location.href='{% url "krok_4" %}';" class="dalej">DALEJ</button>

			</div>
		</div>

		<div class="push"></div>
	</div>

{% endblock %}