{% extends "base.html" %}
{% load staticfiles %}

{% block wrapper %}
	<div class="wrapper">


		<div id="top_krok">

			<div class="logo">
				<a href="/"><img src="{% static "img/logo.png" %}"/></a>
			</div>

		</div>

	<div class="content_krok">


		<h3>Zaloguj</h3>

			<div class="dane">
                {% if form.errors %}
                    <p>Nieprawidłowa nazwa użytkownika lub hasło. Spróbuj ponownie.</p>
                {% endif %}

                <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}

                    <div class="rubryka">
                        <p>{{ form.username.label }}</p>
                        {{ form.username }}
                    </div>

                    <div class="rubryka">
                        <p>{{ form.password.label }}</p>
                        {{ form.password }}
                    </div>

                    <button class="dalej" value="login">ZALOGUJ</BUTTON>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
			</div>

		<div class="clear"></div>
	</div>

		<div class="push"></div>
	</div>

{% endblock %}