
{% extends "base.html" %}
{% load staticfiles %}

{% block wrapper %}
<div class="wrapper">
    <header>

        <div id="top">

            {% if authenticated %}
                <div id="logowanie">
                    <button class="active">Zalogowany</button>
                        <p class="login">{{ user_full_name }}</p>
                    <button onclick="location_change({% url 'django.contrib.auth.views.logout' %})">Wyloguj się</button>
			    </div>
            {% else %}
                <div id="logowanie">
                    <button class="active" onclick="location_change({% url 'registration' %})">Rejestracja</button>
                    <button onclick="location_change({% url 'django.contrib.auth.views.login' %})">Zaloguj się</button>
                </div>
            {% endif %}
            <div class="logo">
                <a href="/"><img src="{% static "img/logo.png" %}"/></a>
            </div>

        </div>

        <a href="krok_1">
        <div class="stworz_karte">
        <p>Stwórz karty<br /> prefabrykacji</p>
        </div>
        </a>

    </header>

    <div class="content">

        <div class="krok_1 info">
            <p>Zarejestruj lub zaloguj się</p>
            <span class="numer">1</span>
        </div>

        <div class="krok_2 info">
            <p>Stwórz karty prefabrykatów.</p> <p>Pdf z zamówieniem zostanie przesłany do weryfikacji.</p>
            <span class="numer">2</span>
        </div>

        <div class="krok_3 info">
            <p>Po poprawnej weryfikacji, zamówienie zostanie przekazane do realizacji.</p>
            <span class="numer">3</span>
        </div>
        <div class="clear"></div>
    </div>

    <div class="push"></div>
</div>
{% endblock %}